/TestLibraryMain/TestLibraryMain/bin
/TestLibraryMain/TestLibraryMain/obj
/TestLibraryMain/.vs/TestLibraryMain/v14/*.suo
/TestLibraryMain/packages
/TestLibraryMain/OtherTestLibrary/bin
/TestLibraryMain/OtherTestLibrary/obj
/SimulatedPrecompiledCommonLibrary/.vs/SimulatedPrecompiledCommonLibrary/v14/*.suo
/SimulatedPrecompiledCommonLibrary/SimulatedPrecompiledCommonLibrary/bin
/SimulatedPrecompiledCommonLibrary/SimulatedPrecompiledCommonLibrary/obj
